In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('C:\\Users\\user\\saurabh sir pandas\\Final Projects\\fraud.csv')

In [3]:
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [4]:
df.corr()

C:\Users\user\AppData\Local\Temp\ipykernel_15440\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
step,1.000000,0.022373,-0.010058,-0.010299,0.027665,0.025888,0.031578,0.003277
amount,0.022373,1.000000,-0.002762,-0.007861,0.294137,0.459304,0.076688,0.012295
oldbalanceOrg,-0.010058,-0.002762,1.000000,0.998803,0.066243,0.042029,0.010154,0.003835
newbalanceOrig,-0.010299,-0.007861,0.998803,1.000000,0.067812,0.041837,-0.008148,0.003776
oldbalanceDest,0.027665,0.294137,0.066243,0.067812,1.000000,0.976569,-0.005885,-0.000513
newbalanceDest,0.025888,0.459304,0.042029,0.041837,0.976569,1.000000,0.000535,-0.000529
isFraud,0.031578,0.076688,0.010154,-0.008148,-0.005885,0.000535,1.000000,0.044109
isFlaggedFraud,0.003277,0.012295,0.003835,0.003776,-0.000513,-0.000529,0.044109,1.000000

In [5]:
from sklearn.preprocessing import OneHotEncoder

In [6]:
ohe=OneHotEncoder(sparse=False)

In [7]:
df['type']=ohe.fit_transform(df[['type']])

D:\anaconda\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [8]:
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,0.0,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,0.0,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,0.0,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,0.0,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,0.0,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,0.0,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,0.0,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,0.0,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,0.0,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,0.0,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [9]:
df['type'].value_counts()

0.0    4963336
1.0    1399284
Name: type, dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            float64
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(6), int64(3), object(2)
memory usage: 534.0+ MB

In [11]:
df['nameOrig']=df['nameOrig'].str.replace('C','')

In [12]:
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,0.0,9839.64,1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,0.0,1864.28,1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,0.0,181.00,1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,0.0,181.00,840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,0.0,11668.14,2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,0.0,339682.13,786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,0.0,6311409.28,1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,0.0,6311409.28,1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,0.0,850002.52,1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,0.0,850002.52,1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            float64
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(6), int64(3), object(2)
memory usage: 534.0+ MB

In [14]:
df['nameOrig'].info

<bound method Series.info of 0          1231006815
1          1666544295
2          1305486145
3           840083671
4          2048537720
              ...
6362615     786484425
6362616    1529008245
6362617    1162922333
6362618    1685995037
6362619    1280323807
Name: nameOrig, Length: 6362620, dtype: object>

In [15]:
df['nameDest']=df['nameDest'].str.replace('C','')

In [16]:
df['nameDest']=df['nameDest'].str.replace('M','')

In [17]:
df['nameOrig']=df['nameOrig'].astype(int)

In [18]:
df['nameDest']=df['nameDest'].astype(int)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            float64
 2   amount          float64
 3   nameOrig        int32
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        int32
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(6), int32(2), int64(3)
memory usage: 485.4 MB

In [20]:
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,0.0,9839.64,1231006815,170136.00,160296.36,1979787155,0.00,0.00,0,0
1,1,0.0,1864.28,1666544295,21249.00,19384.72,2044282225,0.00,0.00,0,0
2,1,0.0,181.00,1305486145,181.00,0.00,553264065,0.00,0.00,1,0
3,1,0.0,181.00,840083671,181.00,0.00,38997010,21182.00,0.00,1,0
4,1,0.0,11668.14,2048537720,41554.00,29885.86,1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,0.0,339682.13,786484425,339682.13,0.00,776919290,0.00,339682.13,1,0
6362616,743,0.0,6311409.28,1529008245,6311409.28,0.00,1881841831,0.00,0.00,1,0
6362617,743,0.0,6311409.28,1162922333,6311409.28,0.00,1365125890,68488.84,6379898.11,1,0
6362618,743,0.0,850002.52,1685995037,850002.52,0.00,2080388513,0.00,0.00,1,0
6362619,743,0.0,850002.52,1280323807,850002.52,0.00,873221189,6510099.11,7360101.63,1,0

In [21]:
from sklearn.preprocessing import StandardScaler

In [22]:
sc=StandardScaler()

In [23]:
x=df.drop(columns='isFlaggedFraud',axis=1)

In [24]:
y=df['isFlaggedFraud']

In [25]:
x1=sc.fit_transform(x)

In [26]:
x1

array([[-1.70304158, -0.53096525, -0.28155992, ..., -0.3238139 ,
        -0.33341141, -0.0359512 ],
       [-1.70304158, -0.53096525, -0.29476726, ..., -0.3238139 ,
        -0.33341141, -0.0359512 ],
       [-1.70304158, -0.53096525, -0.2975548 , ..., -0.3238139 ,
        -0.33341141, 27.8154828 ],
       ...,
       [ 3.51012348, -0.53096525, 10.1539526 , ..., -0.30366526,
         1.403027  , 27.8154828 ],
       [ 3.51012348, -0.53096525,  1.1097649 , ..., -0.3238139 ,
        -0.33341141, 27.8154828 ],
       [ 3.51012348, -0.53096525,  1.1097649 , ...,  1.59138312,
         1.6698123 , 27.8154828 ]])

In [27]:
x1=pd.DataFrame(x1,columns=x.columns)

In [28]:
x1

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,-1.703042,-0.530965,-0.281560,0.253593,-0.229810,-0.237622,1.460702,-0.323814,-0.333411,-0.035951
1,-1.703042,-0.530965,-0.294767,0.955985,-0.281359,-0.285812,1.564644,-0.323814,-0.333411,-0.035951
2,-1.703042,-0.530965,-0.297555,0.373706,-0.288654,-0.292442,-0.838315,-0.323814,-0.333411,27.815483
3,-1.703042,-0.530965,-0.297555,-0.376848,-0.288654,-0.292442,-1.667119,-0.317582,-0.333411,27.815483
4,-1.703042,-0.530965,-0.278532,1.572025,-0.274329,-0.282221,0.253459,-0.323814,-0.333411,-0.035951
...,...,...,...,...,...,...,...,...,...,...
6362615,3.510123,-0.530965,0.264665,-0.463288,-0.171108,-0.292442,-0.477867,-0.323814,-0.240959,27.815483
6362616,3.510123,-0.530965,10.153953,0.734180,1.896491,-0.292442,1.302851,-0.323814,-0.333411,27.815483
6362617,3.510123,-0.530965,10.153953,0.143794,1.896491,-0.292442,0.470100,-0.303665,1.403027,27.815483
6362618,3.510123,-0.530965,1.109765,0.987353,0.005581,-0.292442,1.622833,-0.323814,-0.333411,27.815483
6362619,3.510123,-0.530965,1.109765,0.333127,0.005581,-0.292442,-0.322665,1.591383,1.669812,27.815483

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
x1_train,x1_test,y_train,y_test=train_test_split(x1,y,test_size=0.2,random_state=42)

In [31]:
from sklearn.ensemble import RandomForestClassifier

In [32]:
rfc=RandomForestClassifier()

In [33]:
rfc.fit(x1_train,y_train)

RandomForestClassifier()

In [34]:
y_pred=rfc.predict(x1_test)

In [35]:
from sklearn.metrics import accuracy_score

In [36]:
accuracy_score(y_test,y_pred)

0.9999984283204089

In [37]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 10 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            float64
 2   amount          float64
 3   nameOrig        int32
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        int32
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
dtypes: float64(6), int32(2), int64(2)
memory usage: 436.9 MB

In [38]:
input=np.array([[int(input("Step")),
                float(input("type")),
                float(input("amount")),
                int(input("nameOrig")),
                float(input("OldbalanceOrg")),
                float(input("NewbalanceOrg")),
                int(input("nameDest")),
                float(input("oldbalanceDest")),
                float(input("newbalanceDest")),
                int(input("isFraud"))
                ]])

Step11
type2
amount2232322
nameOrig2
OldbalanceOrg232
NewbalanceOrg232
nameDest2
oldbalanceDest2
newbalanceDest2
isFraud1

In [42]:
output= rfc.predict(input)

D:\anaconda\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [43]:
if output == 0:
    print('No Fraud')
else:
    print("Yes Fraud is done")

No Fraud